.sampleImagesContainer {
  /* height: 246px;
  width: auto;
 */
  min-height: 246px;
  height: auto;
  max-width: 100%;
  min-width: 300px;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid var(--primary);
  color: var(--text);
  background-color: var(--card);
}

.imagesContainer {
  width: auto;
  display: flex;
  gap: 10px;

  flex-wrap: wrap;
  justify-content: center;
}

.titleH3 {
  margin-bottom: 20px;
}

.img {
  width: auto;
  height: 140px;
  cursor: pointer;
}

.caption {
  display: none;
}
