.dialog::backdrop {
  background-color: #000000;
  opacity: 0.75;
}

.dialog {
  width: 100%;
  height: 100%;
  margin: auto;
  background: transparent;
  border: 1px solid var(--primary);
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dialog::-webkit-scrollbar {
  display: none;
}

.dialogContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.dialogImage {
  width: 100%;
  height: auto;
}

.closeModal {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  color: var(--primary);
  background-color: transparent;
  border-style: none;
  border-radius: 8px;
  border: 1px solid var(--primary);
  outline: none;
  cursor: pointer;
  list-style: none;
  user-select: none;
  touch-action: manipulation;
  transition: color 100ms;
}

.closeModal:hover {
  background: var(--buttonHover);
}

.fullscreenExitIcon {
  width: 25px;
  height: auto;
  fill: var(--primary);
}
