.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  background-color: var(--paper);
}

.captionTransition {
  overflow: hidden;
  transition: height 1s;
}

.isLoaded {
  height: 100%;
}

.noDisplayLoader {
  display: none;
}

.buttonsContainerVertical {
  width: 259px;
  height: 362px;
  border: 2px solid var(--primary);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.buttonsContainerHorizontal {
  width: 259px;
  height: 362px;
  border: 2px solid var(--primary);
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

/* .previewFigure {
  display: flex;
  flex-flow: column;
  position: relative;
}

.img {
  width: 300px;
  height: auto;
}

.previewCaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 6px;
  font-style: italic;
  font-size: smaller;
  text-align: center;
  color: var(--text);
}
 */
